@tailwind base;
@tailwind components;
@tailwind utilities;


.logobg{
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
}
.image1-animation {
    animation: moveUpDown 3s infinite alternate;
}

@keyframes moveUpDown {
  0%{
    transform: translate(-50px,0px);
  }  
  100%{
    transform: translate(0px,-40px);
  }
}
.shaddow{
  box-shadow: 0.5px 0.5px 30px rgba(0,0,0,0.1);
}
.image2-animation {
animation: moveUpdown 3s infinite alternate ;
}
@keyframes moveUpdown {
    0%{
        transform: translate(0px,-40px);
      }  
      100%{
        transform: translate(-50px,0px);
       
      }
}
.image3-animation{
    animation: moveupdown3 3s infinite alternate;
}
@keyframes moveupdown3 {
    0%{
        
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0px);
    }
}