@tailwind base;
@tailwind components;
@tailwind utilities;


.logobg{
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
}
.image1-animation {
    animation: moveUpDown 3s infinite alternate;
}

@keyframes moveUpDown {
  0%{
    transform: translate(-50px,0px);
  }  
  100%{
    transform: translate(0px,-40px);
  }
  
}
.shaddow{
  box-shadow: 0.5px 0.5px 30px rgba(0,0,0,0.1);
}

.bgheaderhome2{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://assets.website-files.com/6399ec1545e218ece386c9b6/639a17be83ad358b7e42ca6d_Home1-Banner.webp");
background-position: 0 0, 50%;
background-size: auto, cover;
background-attachment: scroll, scroll;
}

.cardbg{
  background-color: rgba(255, 255, 255, .1);
}

.bgheaderabout{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://assets.website-files.com/6399ec1545e218ece386c9b6/639cd19388734f7f400ed4f1_about-us-banner.webp");
background-position: 0 0, 50%;
background-size: auto, cover;
}

.transparentbg{
background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}
.bgheadersession{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://assets.website-files.com/6399ec1545e218ece386c9b6/63a1e45ab4ace124e6c03eae_pexels-pavel-danilyuk-6712704.webp");
background-position: 0 0, 50% 25%;
background-size: auto, cover;
}